:root {
  --white: #FFFFFF;
  --black: #000;
  --blue: #007AFF;
  --yellow: #E5F61B;
  --text: #000;
  --textSecondary: #999;
  --greyTransparent: rgba(0, 0, 0, 0.30);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--text);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}

p {
  color: var(--text);
}

/* Menu */

.menu-container {
  box-shadow: 0px -0.33px 0px 0px rgba(0, 0, 0, 0.30);
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}

.menu-item {
  flex: 1;
  padding: 1rem;
  color: var(--textSecondary);
  font-family: 'SF Pro Text';
  background-color: transparent;
  border: none;
  font-weight: 500;
}

.menu-item:hover, .menu-active {
  color: var(--blue);
}

.menu-icon {
  font-size: 1.25rem;
}

/* Notification */

.notification-container {
  position: fixed;
  bottom: -4rem;
  left: 1rem;
  right: 1rem;
  height: 3rem;
  background-color: var(--yellow);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveNotification 3s;
}

.notification-container p {
  color: var(--text)
}

@keyframes moveNotification {
  0% {bottom: -4rem;}
  5% {bottom: 1rem;}
  90% {bottom: 1rem;}
  100% {bottom: -4rem;}
}