:root {
  --white: #FFFFFF;
  --black: #000;
  --blue: #007AFF;
  --yellow: #E5F61B;
  --text: #000;
  --textSecondary: #999;
  --textSecondaryOnGrey: rgb(90,90,90);
  --greyTransparent: rgba(0, 0, 0, 0.30);
  --backgroundLight: rgb(240, 240, 240);
  --gradient1: #FF6161;
  --gradient2: #FFD361;
  --gradient3: #95FFA0;
  --gradient4: #95B9FF;
  --gradient5: #D795FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--black);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  text-align: center;
}

body, button, select, input {
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

button, select, input {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);  
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-weight: 600;
}

p {
  color: var(--text);
}

small {
  color: var( --textSecondaryOnGrey); 
}

strong {
  color: var(--text);
}

/* Mobile layout */

.mobile-container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.mobile-content-container {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  height: calc(100% - 2rem);
  margin: 1rem auto;
  border-radius: 1.75rem;
  background-color: var(--white);
  overflow: hidden;
  /*  For Settings to be positioned with absolute */
  position: relative;
}

/* Menu */

.menu-container {
  display: flex;
  height: 4rem;
  box-shadow: 0px -0.33px 0px 0px rgba(0, 0, 0, 0.30);
  background-color: var(--white);
}

.menu-item {
  flex: 1;
  color: var(--textSecondary);
  background-color: transparent;
  border: none;
  font-weight: 500;
  transition: color 0.5s;
}

.menu-active, .menu-item:hover {
  color: var(--blue);
}

.menu-item:hover .menu-icon {
  fill: var(--blue);
}

.menu-icon {
  fill: var(--textSecondary);
  font-size: 1.25rem;
  transition: fill 0.5s;
}

.menu-active .menu-icon {
  fill: var(--blue);
}

/* Pages */

.content-container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.row {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.row h2 {
  flex: 1;
  text-align: left;
}

.section-title {
  text-align: left;
  margin: 2rem 0 0.5rem 0;
}

/* Settings */

.settings-container {
  position: absolute;
  inset: 100% 0.5rem 0 0.5rem;
  background-color: var(--white);
  box-shadow: 0 0 0.5rem rgb(0,0,0,0.35);
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10;
  transition: top 0.1s ease-in;
}

.settings-container-open.settings-container {
  top: 1rem;
}

/* Avatar */

.avatar-button {
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: pink;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.avatar-button img {
  height: 100%;
}

/* Select */

select {
  padding: 0.5rem 2rem 0.5rem 2.5rem;
  background-color: var(--white);
  font-weight: 590;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.12);
}

.select-container {
  position: relative;
}

.select-icon-container, .select-arrow-container {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-icon-container {
  left: 0.75rem;
  top: 0;
}

.select-arrow-container {
  margin-top: 1px;
  right: 0.75rem;
  top: 0;
}

.select-icon-container svg {
  fill: var(--blue);
}

.select-arrow-container svg {
  fill: var(--black);
  stroke: var(--black);
  stroke-width: 1px;
  stroke-linejoin: round;
}

/* Screen time left */

.screen-time-left-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 0.75rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  background-color: black;
  z-index: 0;
}

.screen-time-left-gradient {
  opacity: 0.85;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: conic-gradient(var(--gradient1), var(--gradient2), var(--gradient3), var(--gradient4), var(--gradient5), var(--gradient1));
  background-size: 200% 200%;
  box-shadow: inset 0 0 2rem rgb(0,0,0,0.35);
  z-index: -1;
  animation: moveGradient 40s infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 10% 0%
  }
  50% {
    background-position: 90% 100%
  }
  100% {
    background-position:10% 0%
  }
}

.screen-time-left-chip {
  background-color: rgba(0, 0, 0, 0.40);
  width: max-content;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.screen-time-left-chip p {
  color: var(--white);
}

.screen-time-left-digits {
  font-size: 5rem;
  font-weight: 700;
  color: var(--white);
  margin: 1rem 0 1.75rem 0;
}

/* Time balance */

.time-balance-container {
  display: flex;
  gap: 3rem;
  border-radius: 1rem;
  background-color: var(--black);
  padding: 1.5rem;
  margin: 1rem 0;
}

.time-balance-row {
  display: flex;
}

.time-balance-column {
  text-align: left;
  flex: 1;
}

.time-balance-time {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
}

.time-balance-hour {
  color: var(--textSecondary);
}

.time-balance-activity {
  flex: 1;
  color: var(--white);
}

.time-balance-share {
  color: var(--textSecondary);
}

.bar-container {
  margin: 0.75rem 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.15);
}

.bar-blue, .bar-yellow {
  height: 100%;
  transition: width 1s;
}

.bar-blue {
  background-color: var(--blue);
}

.bar-yellow {
  background-color: var(--yellow);
}

/* Card */

.card-container {
  background-color: var(--backgroundLight);
  border-radius: 1rem;
  padding: 1.25rem 1.5rem;  
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
  animation: moveCardContainer 0.75s;
}


@keyframes moveCardContainer {
  from {
    height: 0%;
    overflow: hidden;
    padding: 0rem 1.5rem;
    opacity: 0;
  }
  to {
    height: 100%;
    overflow: visible;
    padding: 1.25rem 1.5rem;  
    opacity: 1;
  }
}

.card-icon-container {
  font-size: 3rem;
}

.card-text-container {
  text-align: left;
  flex: 1;
}

.card-arrow-container {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-arrow-container svg {
  overflow: visible;
}

.card-arrow-container path {
  fill: none;
  stroke: var(--black);
  stroke-width: 2px;
  stroke-linejoin: round;
}

/* Notification */

.notification-container {
  position: fixed;
  bottom: -4rem;
  left: 1rem;
  right: 1rem;
  height: 3rem;
  background-color: var(--yellow);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveNotification 3s;
}

.notification-container p {
  color: var(--text)
}

@keyframes moveNotification {
  0% {bottom: -4rem;}
  5% {bottom: 5.5rem;}
  90% {bottom: 5.5rem;}
  100% {bottom: -4rem;}
}

/* Tabs */

.tabs-container {
  display: flex;
  border-radius: 0.75rem;
  background-color: rgba(255,255,255,0.2);
  padding: 5px;
}

button.tab-button {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

button.tab-button.active {
  background-color: rgba(255,255,255,0.2);
}

/* Reports */

.reports-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  background-color: var(--black);
  padding: 1.5rem;
  margin: 1rem 0;
}

.reports-graph-container {
  width: 100%;
  height: 15rem;
  display: flex;
  position: relative;
}

.reports-graph-container * {
  color: white;
  overflow: hidden;
}

.reports-graph-container svg {
  position: absolute;
  width: 100%;
  height: calc(100% - 2rem);
  margin-top: 2rem;
  overflow: visible;
}

.reports-graph-interval {
  flex: 1;
  padding: 0.5rem;
  border-left: 1px solid rgba(255,255,255,0.2);
  font-size: 0.75rem;
  text-align: left;
}

.reports-graph-interval:last-child {
  border-right: 1px solid rgba(255,255,255,0.2);
}

.reports-legend-container {
  display: flex;
  gap: 2rem;
}

.reports-legend {
  display: flex;
  gap: 0.5rem;
  color: white;
}

.text-blue {
  color: var(--blue);
}

.text-yellow {
  color: var(--yellow);
}

/* Toggle */

.toggle-container {
  --toggleHeight: 2rem;
  --toggleGap: 0.2rem;
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: var(--toggleHeight);
}

.toggle-container input {
  opacity: 0;
  width: 5rem;
  height: 5rem;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: var(--toggleHeight);
  background-color: var(--textSecondary);
  transition: background-color .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  top: var(--toggleGap);
  bottom: var(--toggleGap);
  left: var(--toggleGap);
  width: calc(var(--toggleHeight) - var(--toggleGap) * 2);
  border-radius: 2rem;
  background-color: white;
  transition: left .4s;
}

.toggle-container input:checked + .toggle-slider:before {
  left: calc(100% - var(--toggleHeight) + var(--toggleGap));
}

.toggle-container input:checked + .toggle-slider {
  background-color: var(--blue)
}

.toggle-container input:focus + .toggle-slider {
  outline: solid blue;
}

/* toggle row */

.toggle-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1.5rem 0;
}

.toggle-row h4 {
  flex: 1;
  text-align: left;
}

.icon-app {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.icon-app img {
  width: 100%;
  height: 100%;
}

/* stepper */

.stepper-container {
  --stepperHeight: 3.5rem;
  background-color: var(--backgroundLight);
  border-radius: 1rem;
  padding: 1.25rem 1.5rem; 
}

.stepper-container button {
  background-color: var(--textSecondary);;
  border: none;
  height: var(--stepperHeight);
  width: var(--stepperHeight);
  border-radius: calc((var(--stepperHeight) / 2));
  font-size: calc(var(--stepperHeight) / 1.5);
  line-height: 1;
  color: white;
  padding-bottom: calc(var(--stepperHeight) / 12);
}

.stepper-container input::-webkit-outer-spin-button,
.stepper-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.stepper-container input {
  width: 10rem;
  border: none;
  text-align: center;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 600;
}